* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.full {
  height: 100vh;
  width: 100vw;
  background: rgb(14, 29, 43);
  color: whitesmoke;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.hide {
  display: none;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.orange {
  background: orange;
}